<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

 <session-factory name="">
  <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
  <property name="connection.url">jdbc:jtds:sqlserver://192.168.128.20:1433/ZWebDB_Trial</property>
  <property name="connection.username">XXX</property>
  <property name="connection.password">XXX</property>
  <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
  <!-- Enable Hibernate's automatic session context management -->
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache  -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">true</property>
  <!-- Drop and re-create the database schema on startup -->
  <property name="hbm2ddl.auto">update</property>
  <!-- mapping class="com.zurich.cpc.model.CalcRefTb"/>
  <mapping class="com.zurich.cpc.model.AppGtlMTb"/>
  <mapping class="com.zurich.cpc.model.AppMTb"/> -->

 </session-factory>
</hibernate-configuration>
